---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.astro";
import Hero from "../components/Hero.astro";

const title = "Contact NeuroImpact Therapeutics";
const description = "Reach out to NeuroImpact Therapeutics for information about our neurological research, potential collaborations, or other inquiries. We welcome your message.";
---

<Layout title={title} description={description}>
  <Hero
    heading="Contact Us"
    subHeading="For further information regarding our research initiatives and ongoing projects, please consider reaching out."
  />
  <div class="contact-container">
    <ContactForm />
    <div class="contact-information">
      <div>
        <h2>Address</h2>
        <p>North Bethesda, MD 20852</p>
      </div>
      <div>
        <h2>Email</h2>
        <p>info@neuroimpacttx.com</p>
      </div>
    </div>
  </div>
  <script>
    import "../scripts/contact.ts";
  </script>
</Layout>

<style>
  .contact-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 75px;
  }

  .contact-information {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
</style>
