---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import heroImg from "../assets/homepage-brain.webp";
import aboutImg from "../assets/neural-web.webp";
---

<Layout title="Home">
  <div class="wrapper">
    <h1>NeuroImpact Therapeutics</h1>
    <section class="hero">
      <div class="hero-content">
        <h2>
          <span>Helping Patients</span> Suffering from Neurological Disorders by
          Developing More Efficacious Drugs
        </h2>
        <a href="/about" class="btn btn-primary">Learn More</a>
      </div>
      <Image src={heroImg} alt="" class="img hero-img" />
    </section>

    <section class="about">
      <Image src={aboutImg} alt="" class="img aboutImg" />
      <div class="about-content">
        <h2>Where <span>Innovation</span> Meets Patient Care.</h2>
        <p>
          At NeuroImpact Therapeutics, we are dedicated to transforming the
          lives of patients suffering from neurological disorders
        </p>
        <a href="/about" class="btn btn-primary">Learn More About Our Mission</a
        >
      </div>
    </section>
    <div class="news-contact-wrapper">
      <section class="news">
        <h3>Stay informed with our latest updates and announcements.</h3>
        <div class="news"></div>
        <a href="/news" class="btn btn-primary">View All News</a>
      </section>

      <section class="contact">
        <h3>Have questions or want to get involved? Reach out today.</h3>
        <div class="contact-links">
          <a href="/contact" class="btn btn-primary">Contact Us</a>
        </div>
      </section>
    </div>
  </div>
</Layout>

<style>
  a {
    display: inline-block;
  }
  h1 {
    margin-inline: auto;
    color: var(--clr-lightest);
    text-align: center;
    margin-block-end: 50px;
  }
  h1::after {
    display: none;
  }

  .news-contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-block-end: 100px;
    text-align: center;
    justify-content: center;
  }

  .hero,
  .about {
    margin-block-end: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .img {
    width: 100%;
    max-width: 500px;
    height: auto;
  }

  h2,
  h3 {
    max-width: 26ch;
  }

  h2 {
    font-size: clamp(1.5rem, 2.5vw, 3rem);
  }
  H2 > span {
    color: var(--clr-light);
  }

  p {
    max-width: 50ch;
  }

  .hero-content > h2 {
    margin-block-end: 35px;
  }

  /* about section */
  .about {
    position: relative;
    z-index: 1;
  }

  .aboutImg {
    max-width: 1000px;
    position: absolute;
    left: -15%;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }

  .about-content {
    margin-left: auto;
  }
  .about-content > * {
    margin-block-end: 25px;
  }

  .contact > *,
  .news {
    margin: 30px;
  }

  @media (max-width: 1030px) {
    main {
      margin-inline: 0;
    }
    .hero {
      justify-content: center;
      gap: 90px;
    }

    .hero-content {
      text-align: center;
    }

    h2 {
      max-width: 100%;
    }
    .about {
      margin-block-end: 400px;
    }

    .about-content {
      display: flex;
      flex-direction: column;
      margin-inline: auto;
      text-align: center;
      align-items: center;
    }

    .aboutImg {
      left: 50%;
      top: 50%;
      transform: translateY(-50%);
      transform: translateX(-50%);
      min-width: 700px;
    }
  }
</style>
