---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Partner from "../components/Partner.astro";
import Hero from "../components/Hero.astro";

const partners = await getCollection("partners");
---

<Layout 
  title="Our Strategic Partners | NeuroImpact Therapeutics" 
  description="Discover the organizations and institutions partnering with NeuroImpact Therapeutics to advance neurological health research and treatments."
>
  <Hero
    heading="Partners"
    subHeading="We welcome collaborations with academic institutions, industry leaders, and investors who share our passion for advancing neurological health."
  />
    <ul>
      {
        partners.map((partner) => (
          
          <li>
          <Partner
            orgName={partner.data.orgName}
            imgSrc={partner.data.imgSrc}
            desc={partner.data.desc}
            />
        </li>
      ))
    }
    </ul>

    <div class="partner-contact">
      <h2>Interested in Partnering With Us?</h2>
      <a href="/contact" class="btn btn-primary">Contact Us</a>
    </div>
</Layout>

<style>
  .partner-contact {  
    max-width: 800px;
    margin: 75px auto ;
    text-align: center;
  }
   ul {
    list-style: none;
    display: grid;
    gap: 64px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 2rem;
    place-items: center;
    text-align: center;
  }

  @media (max-width: 1030px) {
    ul {
      grid-template-columns: 1fr;
      max-width: 75ch;
      margin-inline: auto;
    }
  }

  
</style>
