---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Partner from "../components/Partner.astro";
import Hero from "../components/Hero.astro";

const partners = await getCollection("partners");
---

<Layout title="Partners">
  <Hero
    heading="Partners"
    subHeading="We welcome collaborations with academic institutions, industry leaders, and investors who share our passion for advancing neurological health."
  />
  <ul>
    {
      partners.map((partner) => (
        
        <li>
          <Partner
            orgName={partner.data.orgName}
            imgSrc={partner.data.imgSrc}
            desc={partner.data.desc}
          />
        </li>
      ))
    }
  </ul>
</Layout>

<style>
  ul {
    list-style: none;
    display: grid;
    gap: 64px;
  }
</style>
