---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import { Image } from "astro:assets";
import kcnqImg from "../assets/kcnqimgedit.webp";

const title = "Neurological Research & Innovation | NeuroImpact Therapeutics";
const description = "Explore our groundbreaking research on ion channels, KCNQ and neurological disorders. We're developing targeted therapeutics for conditions like epilepsy and Alzheimer's disease.";
---

<Layout title={title} description={description}>
  <Hero
    heading="Our Research"
    subHeading="Breakthrough Science for a Better Tomorrow."
  />
  <section>
    <div class="cnt-wrapper">
      <div class="content-section">
        <h2>Advancing Ion Channels Research</h2>
        <p>
          Ion channels are specialized proteins located within the membranes of nerve cells (neurons), 
          playing crucial roles in controlling the flow of ions such as potassium, sodium, calcium, and 
          chloride. Potassium channels, in particular, are essential for regulating neuronal excitability, 
          shaping action potentials, and maintaining the balance of electrical signaling in the brain. 
          Dysfunction of these channels has been implicated in various neurological and psychiatric disorders, 
          including epilepsy, Alzheimer's disease, ADHD, and schizophrenia. Current treatments often rely on 
          drugs that broadly target potassium channels across multiple tissues, resulting in non-specific 
          modulation and severe side effects for patients. At NeuroImpact Therapeutics, we are pioneering 
          the development of highly precise, tissue-specific ion channel modulators. By selectively targeting 
          these critical channels, <strong>our innovative approach aims to enhance therapeutic efficacy, significantly 
          reduce side effects, and greatly improve patient quality of life.</strong>
        </p>
      </div>
      <div class="content-section">
        <p>
          With an emphasis on the KCNQ family of potassium channels, known for their 
          pivotal roles in neuronal stability and excitability, our research leverages 
          recent discoveries that reveal unique structural and functional aspects of 
          these channels. Unlike conventional therapies, our novel approach employs 
          cutting-edge structural biology, state-of-the-art computational modeling, 
          and precision-binding approaches to achieve highly selective modulation of 
          specific KCNQ subtypes. This targeted methodology holds significant promise 
          for addressing unmet clinical needs, offering safer, more effective treatment 
          options tailored to specific neurological and psychiatric conditions.
        </p>
      </div>
      <div class="img-container">
        <Image src={kcnqImg} alt="Visualization showing KCNQ gene" class="img" width={500} height={443}/>
      </div>
    </div>
  </section>

  <style>
    .cnt-wrapper {
      display: grid;
      gap: 20px;
      grid-template-columns: 1fr auto;
      grid-template-rows: auto auto;
      grid-template-areas:
        "text1 img"
        "text2 img";
      align-items: start;
    }

    .cnt-wrapper > .content-section:nth-of-type(1) {
      grid-area: text1;
    }

    .cnt-wrapper > .content-section:nth-of-type(2) {
      grid-area: text2;
    }

    .cnt-wrapper > .img-container {
      grid-area: img;
      max-width: 600px;
    }

    .img-container {
      align-self: center;
      flex-shrink: 2;
    }

    h2 {
      margin-block-end: 20px;
      border-bottom: 1px solid var(--clr-light);
      width: fit-content;
      position: relative;
      z-index: 1;
    }

    .content-section {
      margin-block: 24px;
      max-width: 75ch;
    }

    .img {
      width: 100%;
      height: auto;
    }

    @media (max-width: 1100px) {
      .cnt-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
          "text1"
          "img"
          "text2";
        justify-items: center;
      }
    }
  </style>
</Layout>
