---
import type { GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../utils/formatDate";

export const getStaticPaths = (async () => {
  const newsPosts = await getCollection("news");

  return newsPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}) satisfies GetStaticPaths;

type Props = {
  post: CollectionEntry<"news">;
};
const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.slug}>
  <div class="article-container">
    <header>
      <h1>{post.data.title}</h1>
      <p class="date">{formatDate(post.data.pubDate.toISOString())}</p>
    </header>
    <article>
      <Content />
    </article>
  </div>
</Layout>

<style>
  .article-container {
    max-width: 800px;
    margin-inline: auto;
  }

  .article-header {
    margin-block-end: 2rem;
    text-align: center;
  }

  h1 {
    font-size: 3rem;
    margin-block-end: 100px;
  }

  .date {
    font-style: italic;
    color: lightgray; 
    margin-block-end: 24px;
    text-align: end;
  }


  :global(article p) {
    margin-bottom: 25px;
  }

  :global(article ul) {
    padding-inline-start: 50px; 
  }
  
</style>