---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("news");
import { formatDate } from "../../utils/formatDate";
---

<Layout title="News">
  <h1>News &amp; Updates</h1>

  <p>Stay up to date on the latest updates from NeuroImpact Therapeutics</p>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/news/${post.slug}`}>
            <h2>{post.data.title}</h2>
            <p>{formatDate(post.data.pubDate.toISOString())}</p>
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
