---

---

<form method="POST" action="/api/submit">
  <p>
    <em>Fields marked with an <span>*</span> are required.</em>
  </p>
  <div class="input">
    <label for="fullname">Name<span aria-label="required">*</span></label>
    <input
      type="text"
      id="fullname"
      name="fullname"
      placeholder="First Last"
      required
    />
  </div>

  <div class="input">
    <label for="email">Email<span aria-label="required">*</span></label>
    <input
      type="email"
      id="email"
      name="email"
      placeholder="example@example.com"
      required
    />
  </div>

  <div class="input">
    <label for="phone">Phone Number</label>
    <input
      type="tel"
      id="phone"
      name="phonenumber"
      placeholder="000-000-0000"
      minlength="10"
    />
  </div>

  <div class="input">
    <label for="msg">Message<span aria-label="required">*</span></label>
    <textarea id="msg" name="message" placeholder="Your message here" required
    ></textarea>
  </div>
  <button type="submit" class="btn-secondary">Submit</button>
  <p id="responseMsg"></p>
</form>

<style>
  :user-valid {
    border: 1px solid green;
  }
  :user-invalid {
    border: 1px solid red;
  }

  form {
    max-width: 320px;
  }

  .input {
    margin-block: 24px;
    color: inherit;
  }

  label {
    display: block;
  }

  input,
  textarea {
    width: 100%;
    padding: 8px;
    background: transparent;
    border: none;
  }

  button {
    cursor: pointer;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
</style>
