<footer>
  <p>&copy; {new Date().getFullYear()} NeuroImpact Therapeutics</p>
  <p>info@neuroimpacttx.com</p>
  <p>North Bethesda, MD 20852</p>
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-between;
    font-size: clamp(0.62rem, 1vw, 1rem);
    margin-block-start: 200px;
  }
</style>
