<footer>
  <p>&copy; {new Date().getFullYear()} NeuroImpact Therapeutics</p>
  <p>hello@email.com</p>
  <p>North Bethesda, MD 20852</p>
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-between;
    font-size: clamp(0.62rem, 1vw, 1rem);
  }
</style>
