---
type Props = {
  heading: string;
  subHeading?: string;
};

const { heading, subHeading } = Astro.props;
---

<div>
  <h1>{heading}</h1>
  <h2>{subHeading}</h2>
</div>

<style>
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    min-height: 20vh;
    margin-block-end: 50px;
  }

  h1 {
    position: relative;
    width: fit-content;
    margin-block-start: -50px;
    /* border-bottom: 1px solid var(--clr-lightest); */
  }

  h2 {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    max-width: 75ch;
    text-align: center;
    color: var(--clr-light);
  }
</style>
