---
type Props = {
  orgName?: string;
  imgSrc?: string;
  desc?: string;
};

const { orgName, imgSrc, desc } = Astro.props;
---

<div class="partner">
  <div class="img">
    <img src={imgSrc} alt="" width="150px" />
  </div>
  <div class="content">
    <h2>{orgName || "title"}</h2>
    <p>{desc || "description"}</p>
  </div>
</div>

<style>

  .partner {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 2rem;
  }

</style>
