---
type Props = {
  orgName?: string;
  imgSrc?: string;
  desc?: string;
};

const { orgName, imgSrc, desc } = Astro.props;
---

<div class="partner">
  <img src={imgSrc} alt="" width="150px" />
  <div>
    <h2>{orgName || "title"}</h2>
    <p>{desc || "description"}</p>
  </div>
</div>

<style>
  .partner {
    display: flex;
    gap: 24px;
    align-items: center;
  }
</style>
