---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="container">
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

<style is:global>
  :root {
    --bg-gradient-night: hsla(266, 28%, 5%, 1);
    --bg-gradient-oxford-blue: hsla(208, 88%, 10%, 1);
    --content-gradient-start: #21c1e4;
    --content-gradient-end: #ff6baf;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html,
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    line-height: 1.5;
    overflow-x: hidden;
    background: linear-gradient(
      125deg,
      var(--bg-gradient-night),
      var(--bg-gradient-oxford-blue)
    );
    color: #fff;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  button {
    background: none;
    border: none;
  }

  #root,
  #__next {
    isolation: isolate;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: 1600px;
    min-height: 100vh;
    margin: 0 auto;
  }
</style>
