---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="container">
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

<style is:global>
  :root {
    --clr-bg-gradient-night: hsla(266, 28%, 5%, 1);
    --clr-bg-gradient-oxford-blue: hsla(208, 88%, 10%, 1);
    --clr-lightest: #d0d7e1;
    --clr-light: #9ccddb;
    --clr-med: #5790ab;
    --clr-dark: #064489;
    --clr-darkest: #072d44;
    --top-margin: 120px;
    --side-margin: clamp(10px, 5vw, 64px);
    --btn-radius: 12px;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html,
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    line-height: 1.5;
    overflow-x: hidden;
    background: linear-gradient(
      125deg,
      var(--clr-bg-gradient-night) 35%,
      var(--clr-bg-gradient-oxford-blue)
    );
    color: #fff;
  }

  body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    background: url("../assets/bg-molecules-large.webp") no-repeat !important;
    background-size: 500px auto !important;
    background-position: top left;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
    color: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  button {
    background: none;
    border: none;
  }

  #root,
  #__next {
    isolation: isolate;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: 1600px;
    min-height: 100vh;
    margin: 0 auto;
  }

  main {
    margin-block-start: var(--top-margin);
    margin-inline: var(--side-margin);
  }

  h1 {
    font-size: clamp(2.5rem, 4.25vw, 4rem);
    text-align: center;
    font-weight: 600;
  }
  h2 {
    font-size: clamp(1.5rem, 2vw, 1.75rem);
    font-weight: 500;
    /* color: var(--clr-light); */
  }

  /* buttons */

  .btn {
    padding: 15px;
    border-radius: var(--btn-radius);
    width: fit-content;
  }

  .btn-primary {
    /* border: 2px solid var(--clr-darkest); */
    background-color: var(--clr-darkest);
  }

  .btn-secondary {
    color: var(--clr-light);
    padding: 0;
  }
</style>
